.enc-activated {
    color: var(--green-360);
}

.enc-modal-header {
    place-content: center space-between;

}

.vc-trans-modal-content {
    padding: 1em;
}

.enc-modal-root {
    padding-bottom: 1em;
}

.enc-modal-title {
    margin: 0;
}

.enc-modal-button {
    margin-top: 1em;

}