.enc-activated {
    color: var(--green-360);
}

.enc-modal-header {
    place-content: center space-between;
}

.enc-modal-title {
    margin: 0;
}

.enc-modal-content {
    place-content: center space-between;
    color: white;
}


.enc-dont-show-again {
    size: small;
    text-align: center;
    margin-top: 1em;
}